.card {
  position: relative;
  width: auto;
  background-color:goldenrod;
  border: none;
}

.title {
  text-align: left;
  color: rgb(110, 49, 5);
}

.form-field {
  width: 200px;
  color: rgb(0, 0, 0);
  font-size: large;
}

.tabs {
  background-color:wheat;
}

table {
  width: 100%;
  background-color:whitesmoke;
  font-weight: 500;
}

img {
  width: 100px;
  height: 100px;
}

th.mat-sort-header-sorted {
  color: black;
}

.progress-bar {
  background-color:whitesmoke;
  width: 100%;
}

.paginator {
  background-color:wheat;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.filter {
  padding: 10px;
}

a {
  color: rgb(121, 20, 20);
}

.paginator {
  background-color:wheat;
}