.card {
  position: relative;
  width: auto;
  text-align: center;
  background-color:rgb(247, 198, 75);
  border: none;
}

.content {
  position: relative;
  bottom: 180px;
  text-align: center;
  color:chocolate;
  background-color: papayawhip;
  
}

.image {
  top: 20px;
  position: relative;
  border-radius: 50%;
  max-width: 1350px;
}