<mat-grid-list cols="2" class="grid">
  <mat-grid-tile>
    <mat-list class="leftGrid">
      <mat-list-item><h1>Welcome in our page {{customerName}}</h1></mat-list-item>
      <mat-list-item><img src="assets/images/horn_98585.ico" alt="French horn"></mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <a class="button" mat-raised-button color="secondary" (click)="logOut()">Logout</a>
    <a class="button" mat-raised-button color="secondary" (click)="dialogResponse()">Delete profile</a>
  </mat-grid-tile>
</mat-grid-list>
<div>
  <mat-card class="progress-bar" *ngIf="showProgress">
    <mat-card-content>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>