<div class='card'>
  <div class='card-header' *ngIf="!showMatProgress && product?.name !== null">
    {{pageTitle + ': ' + product?.name}}
  </div>

  <div class='card-body'
       *ngIf='product'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{product.name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Code:</div>
          <div class='col-md-8'>{{product.code}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{product.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Instrument type:</div>
          <div class='col-md-8'>{{product.type}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{product.price|currency:'HUF':'symbol'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>5 Star Rating:</div>
          <div class='col-md-8'>
            <app-star [rating]='product.rating'>
            </app-star>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Quantity:</div>
          <div class='col-md-8'>{{product.quantity}}</div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]="'data:image/png;base64,' +  product.image"
             [title]='product.name'>
      </div>
    </div>
    <div>
      <button class="icon-minus" mat-mini-fab (click)="minusOne()" [disabled]="quantityInput < 2">
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <mat-form-field class="quantity-from-field" appearance="fill">
        <mat-label>Quantity</mat-label>
        <md-input-container>
          <input class="quantity-input" matInput type="number" min="1" [max]="product.quantity" [formControl]="quantityControl" hideRequiredMarker
          (input)="onDataChange($event.target.value)">
        </md-input-container>
        <mat-error *ngIf="quantityControl.invalid">
            The quantity must be between 1 and {{product.quantity}}.
        </mat-error>
      </mat-form-field>
      <button class="icon-plus" mat-mini-fab color="primary" (click)="plusOne()" [disabled]="quantityInput >= product.quantity">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
      <button class="add-to-cart" mat-raised-button (click)="addToCart()" [disabled]="!quantityControl.valid">Add to cart</button>
    </div>
  </div>

  <div>
    <mat-card class="progress-bar" *ngIf="product?.name === null">
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>

  <div class='card-footer'>
    <button  class='btn btn-outline-secondary'
            style='width:80px'
            (click)='onBack()'
            mat-raised-button>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>