<mat-toolbar class="mat-elevation-z6">
  <span><mat-icon>music_note</mat-icon><i>Instrument shop</i></span>

  <div class="spacer"></div>

  <a mat-button routerLink="home">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      home
    </mat-icon>
    Home
  </a>
  <a mat-button routerLink="products">Products</a>
  <a mat-button routerLink="aboutus">About us</a>
  <a mat-button routerLink="aboutus">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      shopping_cart
    </mat-icon>
  </a>
  <a *ngIf="signInTitleString === 'Sign in'" mat-raised-button color="secondary" (click)="openDialog()">{{signInTitleString}}</a>
  <a *ngIf="signInTitleString === 'Profile'" mat-raised-button color="secondary" (click)="openDialog()">{{signInTitleString}}</a>
</mat-toolbar>