<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-list>
      <mat-list-item><h2>You can find us in the Bermudas!</h2></mat-list-item>
      <mat-list-item><h3>Place your order and take it in our shop.</h3></mat-list-item>
      <mat-list-item><h4>Contact:</h4></mat-list-item>
      <mat-list-item>Phone: +1 47 586 3984</mat-list-item>
      <mat-list-item>Email: szakdolgozatiemail@gmail.com</mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107894.98148511998!2d-64.83643973078192!3d32.319424480010554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8a2d139e8668b0a5%3A0x3cdffdc72c99b8bc!2sBermuda!5e0!3m2!1shu!2shu!4v1620919536577!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <mat-list-item><h2>Opening hours:</h2></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Monday: 9 pm - 5 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tuesday: 9 pm - 7 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Wednesday: 9 pm - 5 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Thursday: 9 pm - 5 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Friday: 10 pm - 2 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Saturday: 11 pm - 4 am</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Sunday: closed</mat-list-item>
    </mat-list>    
  </mat-grid-tile>
</mat-grid-list>
