.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.width {
  width: 15%;
}

table {
  width: 100%;
  background-color:whitesmoke;
  font-weight: 500;
}

.stepper {
  background-color:wheat;
  padding: 25px;
}

.snackbar {
  max-width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 1rem !important; 
  padding: 10px !important;
  background-color: green;
  color: color;
}

::ng-deep .custom-style{
  background-color:brown;
  color:white;
  white-space: pre-wrap;
}

::ng-deep .success-style{
  background-color:rgb(3, 151, 70);
  color:white;
  white-space: pre-wrap;
}