.full-width {
  width: 100%;
}

.form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.header {
  background-color: rgb(247, 198, 75);
}

.grids {
  background-color: wheat;
}

.button {
  background-color: rgb(14, 179, 77);
}

::ng-deep .custom-style{
  background-color:brown;
  color:white;
  white-space: pre-wrap;
}

::ng-deep .success-style{
  background-color:rgb(3, 151, 70);
  color:white;
  white-space: pre-wrap;
}